<mat-card>
    <mat-card-title style="margin-top: 12px;"><div align="center"><img src="../../assets/img/rentpal.svg" height="40px"/></div></mat-card-title>
    <mat-card-content>
        <div align="center">
            <table class="fb-bg">
                <tbody>
                    <tr>
                        <td>
                            <div align="center" class="Text-fontSize--14 Text-fontWeight--bold Text-color--white login-button" (click)="login($event, 'fb')">
                                <div style="width: 160px;">
                                    <div style="float: left;"><img src="assets/img/fb.svg" class="icon-size"/></div>
                                    <div style="padding-top: 2px;">Login with Facebook</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> 
        <br/>
        <div align="center">
            <table class="google-bg">
                <tbody>
                    <tr>
                        <td>
                            <div align="center" class="Text-fontSize--14 Text-fontWeight--bold Text-color--white login-button" (click)="login($event, 'fb')">
                                <div style="width: 160px;">
                                    <div style="float: left;"><img src="assets/img/google.svg"  height="30px"/></div>
                                    <div style="padding-top: 4px;padding-left: 32px;position: absolute;">Login with Google</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> 
    </mat-card-content>
</mat-card>
