<mat-toolbar color="primary"></mat-toolbar>
<div class='login-wrapper'>
    <div align="center" style="top:17%;position:relative"><img src="../../assets/img/rentpal.svg" height="25px"/></div>
<mat-card>
    <mat-card-content>
        <div align="center" class="div-login"><span class='login-txt'>Log in with</span></div>
        <div align="center" class="div-login">
            <button (click)="login($event, 'fb')" class="login-button"><img src="assets/img/fb.svg" class="icon-size"/></button>
            <button (click)="login($event, 'google')" class="login-button"><img src="assets/img/google.svg"  class="icon-size"/></button>
        </div>
        <div align="center" class="div-login">
            <p class="btn-separator">
                <span>or</span>
            </p>
        </div>
        <div align="center" class="div-login">
            <button mat-raised-button color="primary" (click)="radomLogin()" style="cursor: pointer;">Random user</button>
        </div>
    </mat-card-content>
    <div class="Text-color--darkgrey Text-fontSize--13 Text-fontWeight--medium">
        <span>Note: </span>
        <span>If you are signing in for the first time, I will populate default information to provide a overall feel for the application.</span>
    </div>
</mat-card>

</div>
