<div (click)="$event.stopPropagation()">
    <div>
        <div class="action-buttons">
            <button mat-raised-button color="primary" (click)="addProperty($event)">Add</button>
            <button mat-raised-button color="warn" (click)="bulkDelete($event)" [disabled]="disableDeleteButton()">Delete</button>
        </div>
        <div class="search-property">
            <mat-form-field class="search-mat-field">
                <input matInput placeholder="Search properties" #searchInput>
            </mat-form-field>
        </div>
        <div>
            <mat-paginator class="search-mat-field" [pageSize]="pageSize" [pageSizeOptions]="[25, 50, 100]" [length]="totalProperties() | async" ></mat-paginator>
   
        </div>
    </div>
    <div class="scrollable-table-wrapper">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
        </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
        </td>
    </ng-container>

    <ng-container matColumnDef="propertyname">
        <th mat-header-cell *matHeaderCellDef> Property name </th>
        <td mat-cell *matCellDef="let element"> {{element.propertyname}} </td>
    </ng-container>

    <ng-container matColumnDef="creationtime">
        <th mat-header-cell *matHeaderCellDef> Creation time</th>
        <td mat-cell *matCellDef="let element"> {{element.creationtime}} </td>
    </ng-container>

    <ng-container matColumnDef="addressline_1">
        <th mat-header-cell *matHeaderCellDef> Address Line 1 </th>
        <td mat-cell *matCellDef="let element"> {{element.addressline_1}} </td>
    </ng-container>

    <ng-container matColumnDef="addressline_2">
        <th mat-header-cell *matHeaderCellDef> Address Line 2 </th>
        <td mat-cell *matCellDef="let element"> {{element.addressline_2}} </td>
    </ng-container>

    <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> City </th>
        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
    </ng-container>

    <ng-container matColumnDef="postal">
        <th mat-header-cell *matHeaderCellDef> Postal </th>
        <td mat-cell *matCellDef="let element"> {{element.postal}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
            <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" (click)="editproperty($event, element)" color="primary">
                <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" (click)="delete($event, element)" color="warn">
                <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"  matTooltip="Click to see unit information." (click)="loadUnits(row)">
    </tr>
    </table>
    </div>
    
    
</div>
<router-outlet></router-outlet>