<div (click)="$event.stopPropagation()">
    <div>
        <table>
            <tr class="mat-row">
                <td width="40%">
                    <button mat-raised-button color="primary" title="Add property" (click)="showProperty()">
                        <mat-icon>add</mat-icon>
                    </button>
                </td>
                <td width="50%">
                    <mat-form-field class="search-mat-field">
                        <input matInput placeholder="Search properties" #searchInput [formControl]="searchQuery">
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </div>
    <div class="scrollable-table-wrapper">
        <mat-table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="propertyname">
                <mat-header-cell *matHeaderCellDef>Property name</mat-header-cell>
                <mat-cell *matCellDef="let element" [matTooltip]="element.propertyname"> <span class="mobile-label">Property name:</span> {{element.propertyname | truncate:20}}  </mat-cell>
            </ng-container>
            <ng-container matColumnDef="addressline_1">
                <mat-header-cell *matHeaderCellDef width="15%">Address Line 1 </mat-header-cell>
                <mat-cell *matCellDef="let element" [matTooltip]="element.addressline_1"> <span class="mobile-label">Address Line 1:</span> {{element.addressline_1| truncate:20}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="addressline_2">
                <mat-header-cell *matHeaderCellDef width="15%">Address Line 2 </mat-header-cell>
                <mat-cell *matCellDef="let element" [matTooltip]="element.addressline_2"> <span class="mobile-label">Address Line 2:</span> {{element.addressline_2?(element.addressline_2 | truncate:20):'N/A'}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="city">
                <mat-header-cell *matHeaderCellDef width="15%">City </mat-header-cell>
                <mat-cell *matCellDef="let element" [matTooltip]="element.city"> <span class="mobile-label">City:</span> {{element.city | truncate:20}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="postal">
                <mat-header-cell *matHeaderCellDef width="12%">Postal </mat-header-cell>
                <mat-cell *matCellDef="let element"> <span class="mobile-label">Postal:</span> {{element.postal}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="creationtime">
                <mat-header-cell *matHeaderCellDef width="12%">Creation time</mat-header-cell>
                <mat-cell *matCellDef="let element"> <span class="mobile-label">Creation time:</span> {{element.creationtime}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef><!--p style="margin: 0;padding-left: 12%;"></p--> Actions</mat-header-cell>
                <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
                    <button mat-icon-button matTooltip="Click to see unit information." class="iconbutton" (click)="loadUnits(element)">
                        <mat-icon aria-label="Show">add</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" (click)="showProperty(element)" color="primary">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Click to Delete" name="property-delete" class="iconbutton" (click)="delete($event, element)" color="warn">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                No properties found for the given criteria.
                </mat-footer-cell>
              </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide-table-footer':(dataSource && dataSource.data.length > 0)}"></mat-footer-row>
        </mat-table>
        <mat-paginator class="search-mat-field" [pageSize]="defaultFilterValues.pageSize" [pageIndex]="defaultFilterValues.pageIndex" [pageSizeOptions]="[25, 50, 100]" [length]="totalProperties() | async" ></mat-paginator>
    </div>  
</div>
<app-property-form *ngIf="hideAddForm" (updateAndClose)="updateAndClose($event)" (close)="toggleAddForm()" [property]="property"></app-property-form>