<app-overlay>
    <div>
        <mat-toolbar color="primary">
            <span class="fill-remaining-space">{{isAddForm?'Add unit':'Edit unit'}}</span>
        </mat-toolbar>
        <div class="property-form" (click)="$event.stopPropagation()">
            <form [formGroup]="unitFormGroup" class="form">
                <mat-form-field class="form-element">
                    <input matInput placeholder="Door number" formControlName="doorNumber">
                    <mat-error *ngIf="!unitFormGroup.controls['doorNumber'].valid && unitFormGroup.controls['doorNumber'].touched">
                        <span *ngIf="unitFormGroup.controls['doorNumber'].errors!.required">Door number is mandatory. </span>
                        <span *ngIf="unitFormGroup.controls['doorNumber'].errors!.pattern">Door number is invalid. </span>
                        <span *ngIf="unitFormGroup.controls['doorNumber'].errors!.maxlength">Door number should be less than 4 digits. </span>
                    </mat-error>
                    <mat-error *ngIf="unitFormGroup.controls['doorNumber'].errors?.serverError">
                        {{ unitFormGroup.controls['doorNumber'].errors?.serverError }}
                      </mat-error>
                </mat-form-field>
                <mat-form-field class="form-element">
                    <input matInput placeholder="Floor number" formControlName="floorNumber">
                    <mat-error *ngIf="!unitFormGroup.controls['floorNumber'].valid && unitFormGroup.controls['floorNumber'].touched">
                        <span *ngIf="unitFormGroup.controls['floorNumber'].errors!.required">Floor number is mandatory. </span>
                        <span *ngIf="unitFormGroup.controls['floorNumber'].errors!.pattern">Floor number is invalid. </span>
                    </mat-error>
                    <mat-error *ngIf="unitFormGroup.controls['floorNumber'].errors?.serverError">
                        {{ unitFormGroup.controls['floorNumber'].errors?.serverError }}
                      </mat-error>
                </mat-form-field>
                <mat-form-field class="form-element">
                    <input matInput placeholder="No. of bedrooms" formControlName="bedrooms">
                    <mat-error *ngIf="!unitFormGroup.controls['bedrooms'].valid && unitFormGroup.controls['bedrooms'].touched">
                        <span *ngIf="unitFormGroup.controls['bedrooms'].errors!.required">Bedroom is mandatory. </span>
                        <span *ngIf="unitFormGroup.controls['bedrooms'].errors!.pattern">Bedroom is invalid. </span>
                    </mat-error>
                    <mat-error *ngIf="unitFormGroup.controls['bedrooms'].errors?.serverError">
                        {{ unitFormGroup.controls['bedrooms'].errors?.serverError }}
                      </mat-error>
                </mat-form-field>
                <mat-form-field class="form-element">
                    <input matInput placeholder="No. of bathrooms" formControlName="bathrooms">
                    <mat-error *ngIf="!unitFormGroup.controls['bathrooms'].valid && unitFormGroup.controls['bathrooms'].touched">
                        <span *ngIf="unitFormGroup.controls['bathrooms'].errors!.required">Bathroom is mandatory. </span>
                        <span *ngIf="unitFormGroup.controls['bathrooms'].errors!.pattern">Bathroom is invalid. </span>
                    </mat-error>
                    <mat-error *ngIf="unitFormGroup.controls['bathrooms'].errors?.serverError">
                        {{ unitFormGroup.controls['bathrooms'].errors?.serverError }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-element">
                    <input matInput placeholder="Area" formControlName="area" style="width: 90%;margin-top: 5px;"><p class="inputRight">m<sup>2</sup></p>
                    <mat-error *ngIf="!unitFormGroup.controls['area'].valid && unitFormGroup.controls['area'].touched">
                        <span *ngIf="unitFormGroup.controls['area'].errors!.required">Area is mandatory. </span>
                        <span *ngIf="unitFormGroup.controls['area'].errors!.pattern">Area is invalid. </span>
                    </mat-error>
                    <mat-error *ngIf="unitFormGroup.controls['area'].errors?.serverError">
                        {{ unitFormGroup.controls['area'].errors?.serverError }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-element">
                    <input matInput placeholder="Rent" formControlName="rent" style="width: 93%;"><p class="inputRight">&euro;</p>
                    <mat-error *ngIf="!unitFormGroup.controls['rent'].valid && unitFormGroup.controls['rent'].touched">
                        <span *ngIf="unitFormGroup.controls['rent'].errors!.required">Rent is mandatory. </span>
                        <span *ngIf="unitFormGroup.controls['rent'].errors!.pattern">Rent is invalid. </span>
                    </mat-error>
                    <mat-error *ngIf="unitFormGroup.controls['rent'].errors?.serverError">
                        {{ unitFormGroup.controls['rent'].errors?.serverError }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-element">
                    <input matInput placeholder="Caution deposit" formControlName="cautionDeposit" style="width: 93%;"><p class="inputRight">&euro;</p>
                    <mat-error *ngIf="!unitFormGroup.controls['cautionDeposit'].valid && unitFormGroup.controls['cautionDeposit'].touched">
                        <span *ngIf="unitFormGroup.controls['cautionDeposit'].errors!.required">Caution Deposit is mandatory. </span>
                        <span *ngIf="unitFormGroup.controls['cautionDeposit'].errors!.pattern">Caution Deposit is invalid. </span>
                    </mat-error>
                    <mat-error *ngIf="unitFormGroup.controls['cautionDeposit'].errors?.serverError">
                        {{ unitFormGroup.controls['cautionDeposit'].errors?.serverError }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-element">
                    <mat-select formControlName="furnished" placeholder="Furnished">
                        <mat-option [value]="true">Yes</mat-option>
                        <mat-option [value]="false">No</mat-option>
                    </mat-select>
                    <mat-error *ngIf="unitFormGroup.controls['furnished'].errors?.serverError">
                        {{ unitFormGroup.controls['furnished'].errors?.serverError }}
                    </mat-error>
                </mat-form-field>
                <div class="form-buttons">
                    <button mat-raised-button color="primary" [disabled]="!unitFormGroup.valid || disableSubmit" (click)="save()">Save</button>
                    <button mat-raised-button color="warn" (click)="close()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</app-overlay>
