.chart{
    width: 100%;
    border-style: groove;
    border-width: 2px;
    border-radius: 4px;
   /* margin-top: 20px;*/
}
@media(max-width: 1400px) {
    .chart{
        max-width: 100%;
        width: 99%;
        /*margin-top: 20px;*/
    }
}
.apexcharts-canvas{
    margin:0 auto !important;
}
.upcoming-payment-div{
    height: 40vh;
    overflow: auto;
    display: block;
    clear: both;
}