.table-moreinfo{
    overflow: hidden;
    display: block;
}

tr.detail-row {
    height: 0;
  }
  
tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
    background: #efefef;
}

.element-row td {
    border-bottom-width: 0;
  }
  .hide-more-info{
      display: none;
  }
  .hide-bottom-border{
    border-bottom-width:0px
  }