<div (click)="$event.stopPropagation()">
    <div class="action-buttons">
        <button mat-raised-button color="primary" (click)="showUnit()">Add unit</button>
        <button mat-raised-button color="warn" (click)="bulkDelete()" [disabled]="disableDeleteButton()">Delete</button>
        <button mat-raised-button (click)="goBack()">Go back</button>
    </div>
    <mat-paginator class="search-mat-field" [pageSize]="pageSize" [pageSizeOptions]="[25, 50, 100]" [length]="totalUnits() | async" ></mat-paginator>
    <div class="scrollable-table-wrapper">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef width="5%">
                <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="doorNumber">
                <th mat-header-cell *matHeaderCellDef width="10%">Door number</th>
                <td mat-cell *matCellDef="let element"> {{element.doorNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="floorNumber">
                <th mat-header-cell *matHeaderCellDef width="10%">Floor number</th>
                <td mat-cell *matCellDef="let element"> {{element.floorNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="bedrooms">
                <th mat-header-cell *matHeaderCellDef width="10%">Bed Rooms</th>
                <td mat-cell *matCellDef="let element"> {{element.bedrooms}} </td>
            </ng-container>

            <ng-container matColumnDef="bathrooms">
                <th mat-header-cell *matHeaderCellDef width="10%">Bath Rooms</th>
                <td mat-cell *matCellDef="let element"> {{element.bathrooms}} </td>
            </ng-container>

            <ng-container matColumnDef="area">
                <th mat-header-cell *matHeaderCellDef width="10%">Area</th>
                <td mat-cell *matCellDef="let element"><p>{{element.area}} m<sup>2</sup></p></td>
            </ng-container>

            <ng-container matColumnDef="rent">
                <th mat-header-cell *matHeaderCellDef width="10%">Rent</th>
                <td mat-cell *matCellDef="let element"> {{element.rent}} &euro;</td>
            </ng-container>

            <ng-container matColumnDef="cautionDeposit">
                <th mat-header-cell *matHeaderCellDef width="10%">Caution Deposit</th>
                <td mat-cell *matCellDef="let element"> {{element.cautionDeposit}} &euro;</td>
            </ng-container>

            <ng-container matColumnDef="furnished">
                <th mat-header-cell *matHeaderCellDef width="10%">Furnished</th>
                <td mat-cell *matCellDef="let element"> {{element.furnished?'Yes':'No'}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef width="10%">Actions</th>
                <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
                    <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary" (click)="showUnit(element)">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn" (click)="deleteUnit($event, element)">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align: center;">
                  No units found for given property.
                </td>
              </tr>
        </table>
    </div>
</div>
<app-unit-form *ngIf="hideAddForm" (closeForm)="toggleAddForm()" (updateAndCloseForm)="updateAndCloseForm($event)" [propertyId]="propertyId" [unit]="unit"></app-unit-form>