<div (click)="$event.stopPropagation()">
    <div style="margin-bottom: 10px;">
        <button mat-raised-button color="primary" (click)="showUnit()" style="margin-right: 10px;"><mat-icon>add</mat-icon></button>
        <button mat-raised-button (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
        
        <!--button mat-raised-button color="primary" (click)="showUnit()">Add unit</button>
        <button mat-raised-button color="warn" (click)="bulkDelete()" [disabled]="disableDeleteButton()">Delete</button>
        <button mat-raised-button (click)="goBack()">Go back</button-->
    </div>
    <div class="scrollable-table-wrapper">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!--ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef width="5%">
                <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
                </td>
            </ng-container-->

            <ng-container matColumnDef="doorNumber">
                <mat-header-cell *matHeaderCellDef width="10%">Door number</mat-header-cell>
                <mat-cell *matCellDef="let element"><span class="mobile-label">Door number:</span> {{element.doorNumber}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="floorNumber">
                <mat-header-cell *matHeaderCellDef width="10%">Floor number</mat-header-cell>
                <mat-cell *matCellDef="let element"><span class="mobile-label">Floor number:</span> {{element.floorNumber}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="bedrooms">
                <mat-header-cell *matHeaderCellDef width="10%">Bed Rooms</mat-header-cell>
                <mat-cell *matCellDef="let element"><span class="mobile-label">Bed Rooms:</span> {{element.bedrooms}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="bathrooms">
                <mat-header-cell *matHeaderCellDef width="10%">Bath Rooms</mat-header-cell>
                <mat-cell *matCellDef="let element"><span class="mobile-label">Bath Rooms:</span> {{element.bathrooms}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="area">
                <mat-header-cell *matHeaderCellDef width="10%">Area</mat-header-cell>
                <mat-cell *matCellDef="let element"><span class="mobile-label">Area:</span> <p>{{element.area}} m<sup>2</sup></p></mat-cell>
            </ng-container>

            <ng-container matColumnDef="rent">
                <mat-header-cell *matHeaderCellDef width="10%">Rent</mat-header-cell>
                <mat-cell *matCellDef="let element"><span class="mobile-label">Rent:</span> {{element.rent}} &euro;</mat-cell>
            </ng-container>

            <ng-container matColumnDef="cautionDeposit">
                <mat-header-cell *matHeaderCellDef width="10%">Caution Deposit</mat-header-cell>
                <mat-cell *matCellDef="let element"><span class="mobile-label">Caution Deposit:</span> {{element.cautionDeposit}} &euro;</mat-cell>
            </ng-container>

            <ng-container matColumnDef="furnished">
                <mat-header-cell *matHeaderCellDef width="10%">Furnished</mat-header-cell>
                <mat-cell *matCellDef="let element"><span class="mobile-label">Furnished:</span> {{element.furnished?'Yes':'No'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef width="10%">Actions</mat-header-cell>
                <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
                    <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary" (click)="showUnit(element)">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn" (click)="deleteUnit($event, element)">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                No units found for given property.
                </mat-footer-cell>
              </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide-table-footer':(dataSource && dataSource.data.length > 0)}"></mat-footer-row>
            <!--tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align: center;">
                  No units found for given property.
                </td>
              </tr-->
        </mat-table>
        <mat-paginator class="search-mat-field" [pageSize]="pageSize" [pageSizeOptions]="[25, 50, 100]" [length]="totalUnits() | async" ></mat-paginator>
    </div>
</div>
<app-unit-form *ngIf="hideAddForm" (closeForm)="toggleAddForm()" (updateAndCloseForm)="updateAndCloseForm($event)" [propertyId]="propertyId" [unit]="unit"></app-unit-form>